version: '3.9'
services:
  api:
    container_name: kraken-api
    build: ./backend/
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
      - LOGGER=log
      - BACKEND_URL=http://localhost:3000
      - FRONTEND_URL=http://localhost:8080
      - DATABASE_URL=postgresql://postgres:password@db:5432/postgres?schema=public
      - REDIS_PORT=6379
      - REDIS_HOST=redis
    depends_on:
      - redis
      - db
  app:
    container_name: kraken-app
    build: ./frontend/
    ports:
      - '8080:80'
    depends_on:
      - api
  db:
    image: postgres:14-alpine
    container_name: kraken-db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - '5432:5432'
    volumes:
      - kraken_postgres:/var/lib/postgresql/data
  redis:
    container_name: kraken-redis
    image: 'redis:alpine'
    ports:
      - '6379:6379'
volumes:
  kraken_postgres:
